{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 col-sm-push-3 col-xs-12 sponsor_show">

            {% if sponsor.logo %}
                <a href="{{ asset('/images/sponsor/'~sponsor.nom~'/'~sponsor.logo) }}">
                    <img src="{{ asset('/images/sponsor/'~sponsor.nom~'/'~sponsor.logo) }}"
                     alt="image non disponible" class="event_show_photo">
                </a>
            {% else %}
                <img src="{{ asset('/images/no-img.png') }}" alt="image non disponible" class="event_show_photo">
            {% endif %}

            <h1 class="h1">{{ sponsor.nom }}</h1>

            <table class="table table-striped">
                <tbody>
                    {% if sponsor.telephone %}
                        <tr>
                            <th>Telephone</th>
                            <td>{{ sponsor.telephone }}</td>
                        </tr>
                    {% endif %}
                    {% if sponsor.email %}
                        <tr>
                            <th>Email</th>
                            <td>{{ sponsor.email }}</td>
                        </tr>
                    {% endif %}
                    {% if sponsor.siteWeb %}
                        <tr>
                            <th>Siteweb</th>
                            <td>{{ sponsor.siteWeb }}</td>
                        </tr>
                    {% endif %}
                    {% if sponsor.adresse %}
                        <tr>
                            <th>Adresse</th>
                            <td>{{ sponsor.adresse }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-push-3 col-xs-12">
            <div class="container-fluid">
                {% for sponsoring in sponsor.sponsoring %}
                    {% set event = sponsoring.event %}
                    {% include 'event/affiche_events.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
