{% extends 'base.html.twig' %}

    {% block title %}Tunisia Events{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-sm-3 col-xs-12">
            <h2 class="h2">Trouver un évennement :</h2>
            {{ form_start(searchForm) }}
            <button type="submit" name="rechercher" class="btn btn-success">Rechercher</button>
            {{ form_widget(searchForm) }}
            {{ form_end(searchForm) }}
        </div>

        <div class="col-sm-9 col-xs-12">
        <div class="container-fluid">
            {% for event in events %}
                <a href="{{ path('event_show', { 'id': event.id }) }}">
                    <div class="row event">

                            <div class="col-sm-3 col-xs-12">
                                <img class="event_photo" src="{{ asset('/images/events/'~event.nom~'/'~event.photo) }}" alt="no image for {{ event.nom }}">
                            </div>
                        <div class="col-sm-9 col-xs-12">
                            <h3 class="h3">{{ event.nom }} à {{ event.lieu }} le {{ event.date|date('d/m/Y') }}</h3>

                            <p class="description">{{ event.description }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        </div>

    </div>
{% endblock %}
