{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h4 class="h4">Bienvennue dans l'interface admin</h5>
                {% for flash_message in app.session.flashBag.get('admin') %}
                    <div class="flash-notice">
                        {{ flash_message }}
                    </div>
                {% endfor %}
            <ul class="list-unstyled list-inline">
                <li>
                    <a class="btn btn-primary button-users" href="{{ path('admin_users') }}">
                        Liste des abonnées
                        <i class="fa fa-users fa-2x" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a class="btn btn-warning button-users" href="{{ path('admin_categories') }}">
                        Liste Categories
                        <i class="fa fa-2x fa-list-alt" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a class="btn btn-danger button-users" href="{{ path('admin_events') }}">
                        Liste Evènements
                        <img src="{{ asset('img/party.png') }}" height="25px" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12">
            <hr />

        </div>
            <!-- Load jQuery from Google's CDN if needed -->
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

            <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
            <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
            <script type="text/javascript">
                {{ chart(chartPublication) }}
                {{ chart(chartRealisation) }}
                {{ chart(chartVue) }}
                {{ chart(chartReservation) }}
                {{ chart(chartInscription) }}
            </script>

            <div class="admin-chart col-xs-12 col-sm-6 col-sm-pull-1 col-md-pull-0">
                <div id="linechartPublication" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="admin-chart col-xs-12 col-sm-6">
                <div id="linechartRealisation" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
            </div>

            <div class="col-xs-12">
            </br>
            </div>

            <div class="admin-chart col-xs-12 col-sm-6 col-sm-pull-1 col-md-pull-0">
                <div id="linechartVue" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="admin-chart col-xs-12 col-sm-6">
                <div id="linechartReservation" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
            </div>

            <div class="col-xs-12">
            </br>
            </div>

            <div class="admin-chart col-xs-12 col-sm-6">
                <div id="linechartInscription" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
            </div>



    </div>
{% endblock %}
