{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-xs-pull-1 col-sm-pull-0">
            <table class="table table-bordered table-responsive table-striped table-condensed">
                <thead>
                    <th class="text-center">Login</th>
                    <th class="text-center hidden-xs">Nom</th>
                    <th class="text-center hidden-xs">Prénom</th>
                    <th class="text-center hidden-xs">Email</th>
                    <th class="text-center">Events</br>Organisé</th>
                    <th class="text-center">Events</br>Participé</th>
                    <th class="text-center hidden-xs">Dernier</br>Connexion</th>
                    <th class="text-center hidden-xs">Activé</th>
                    <th class="text-center hidden-xs">Admin</th>
                    <th class="text-center">Activer</br>/Bannir</th>

                </thead>
                <tbody>
                    {% for abonne in abonnes %}
                    <tr>
                            <td class="text-center">
                                <a class="" href="{{ path('abonne_show', { 'id': abonne.id }) }}" role="button">
                                    {{ abonne.compte.username }}
                                </a>
                            </td>
                            <td class="text-center hidden-xs">{{ abonne.nom }}</td>
                            <td class="text-center hidden-xs">{{ abonne.prenom }}</td>
                            <td class="text-center hidden-xs">{{ abonne.email }}</td>
                            <td class="text-center">
                                <a href="#">
                                    {{ abonne.events|length }}
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="#">
                                    {{ abonne.eventsParticipe|length }}
                                </a>
                            </td>
                            <td class="text-center hidden-xs">{{ abonne.compte.lastLogin|date("d/m/Y h:i:s") }}</td>
                            <td class="text-center hidden-xs">
                            	{% if abonne.compte.isEnabled() %}
                            		<span class="glyphicon glyphicon-ok"></span>
                            	{% endif %}
                            </td>
                            <td class="text-center hidden-xs">
                                {% if abonne.compte.hasRole("ROLE_ADMIN") %}
                                    <i class=" glyphicon glyphicon-ok"></i>
                                {% endif %}
                            </td>
                            <td class="text-center">
                               {% if abonne.compte.isEnabled() %}
                                   <a class="btn btn-sm btn-danger" href="{{ path('bannir_abonne', { 'id': abonne.id }) }}" role="button">
                                       <span class="glyphicon glyphicon-ban-circle"></span>
                                       <span class="hidden-xs">
                                           Bannir
                                       </span>
                                   </a>
                               {% else %}
                                   <a class="btn btn-sm btn-success" href="{{ path('activate_abonne', { 'id': abonne.id }) }}" role="button">
                                       <span class="glyphicon glyphicon-ok"></span>
                                       <span class="hidden-xs">
                                           Activer
                                       </span>
                                   </a>
                               {% endif %}
                           </td>


                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
