{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eventferme</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eventFerme.id }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ eventFerme.capacite }}</td>
            </tr>
            <tr>
                <th>Datedebutinscri</th>
                <td>{% if eventFerme.dateDebutInscri %}{{ eventFerme.dateDebutInscri|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefininscri</th>
                <td>{% if eventFerme.dateFinInscri %}{{ eventFerme.dateFinInscri|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ eventFerme.prix }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ eventFerme.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ eventFerme.description }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ eventFerme.lieu }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ eventFerme.photo }}</td>
            </tr>
            <tr>
                <th>Fichiers</th>
                <td>{% if eventFerme.fichiers %}{{ eventFerme.fichiers|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eventferme_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('eventferme_edit', { 'id': eventFerme.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
