{% extends 'base.html.twig' %}

{% block title %}
    Modifier évènement
{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}
            <div class="container-fluid">

                <div class="row inscription">
                    <div class="col-sm-6 col-xs-12">
                        <a class="btn btn-primary edit-retour-btn" href="{{ path('event_show', {'id' : event.id }) }}">
                            <span class="ion-reply"></span>
                             Retour
                        </a>

                        <h1 class="h1">Modification de l'évennement</h1>
                        {% if event.photo %}
                            <a href="{{ asset('/images/events/'~event.nom~'/'~event.photo.fileName) }}">
                                <img src="{{ asset('/images/events/'~event.nom~'/'~event.photo.fileName) }}"
                                 alt="image non disponible" class="event_show_photo">
                            </a>
                        {% endif %}
                        Votre évennement est : </br>

                        {{ form_row(form.ouvertCheck) }}
                        {{ form_row(form.gratuitCheck) }}
                        {{ form_row(form.nom) }}
                        {{ form_row(form.description) }}

                    </div>
                    <div class="col-sm-6 col-xs-12">
                        {{ form_widget(form) }}
                        <button type="submit" name="creer" class="btn btn-warning">Modifier <span class="glyphicon glyphicon-edit"></span></button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var fieldsDate = $("#appbundle_event_dateDebutInscri, #appbundle_event_dateFinInscri,  #appbundle_event_capacite");
        var field = $("#appbundle_event_prix");
        {% if form.ouvertCheck.vars.checked %}
            fieldsDate.hide();
            fieldsDate.prev().hide();
        {% endif %}

        {% if form.gratuitCheck.vars.checked %}
            field.hide();
            field.prev().hide();
        {% endif %}

        $("#appbundle_event_ouvertCheck").click(function(){
            if($(this).is(":checked")){
                fieldsDate.hide();
                fieldsDate.prev().hide();
            }else{
                fieldsDate.show();
                fieldsDate.prev().show();
            }
        });

        $("#appbundle_event_gratuitCheck").click(function(){
            if($(this).is(":checked")){
                field.hide();
                field.prev().hide();
            }else{
                field.show();
                field.prev().show();
            }
        });
    </script>

{% endblock %}
