{% extends 'base.html.twig' %}

{% block body %}

            {% for event in events %}
                <a href="{{ path('event_show', { 'id': event.id }) }}">
                    <div class="row">

                            <div class="col-xs-3">
                                <img class="event_photo" height="150" width="150" src="{{ asset('/images/events/'~event.nom~'/'~event.photo) }}" alt="no image for {{ event.nom }}">
                            </div>
                        <div class="col-xs-9">
                            <h3 class="h3">{{ event.nom }} à {{ event.lieu }} le {{ event.date|date('d/m/Y') }}</h3>

                            <p>{{ event.description }}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}

{% endblock %}
