{% extends 'base.html.twig' %}

{% block title %}
    {{event.nom}}
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-sm-6 col-xs-12 event_show">
        </br>
            {% if event.photo %}
                <a href="{{ asset('/images/events/'~event.nom~'/'~event.photo) }}">
                    <img src="{{ asset('/images/events/'~event.nom~'/'~event.photo) }}"
                     alt="image non disponible" class="event_show_photo">
                </a>
            {% else %}
                <img src="{{ asset('/images/events/no-img.png') }}" alt="image non disponible" class="event_show_photo">
            {% endif %}
            <h1 class="h1">{{ event.nom }} : </h1>

            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ event.nom }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ event.description }}</td>
                    </tr>
                    {% if event.organisateur.telephone %}
                        <tr>
                            <th>Numéro téléphone de l'organisateur</th>
                            <td>{{ event.organisateur.telephone }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Email de l'organisateur</th>
                        <td>{{ event.organisateur.email }}</td>
                    </tr>
                    <tr>
                        <th>Lieu</th>
                        <td>{{ event.lieu }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>Du <strong>{{ event.date|date("d-m-Y H") }}h</strong> jusqu'à <strong>{{ event.dateFin|date("d-m-Y H") }}</strong></td>
                    </tr>
                    <tr>
                        <th>Date de Publication</th>
                        <td>{{ event.datePublication|date("d-m-Y H:m") }}</td>
                    </tr>
                    {% if not event.ouvertCheck %}
                        <tr>
                            <th>Date d'inscription</th>
                            <td>
                            {% if "now"|date() > event.datefinInscri|date() %}
                                <strong>L'inscription est fermé pour cet évennement </strong>
                            {% else %}
                                Du <strong>{{ event.dateDebutInscri|date("d-m-Y H") }}h</strong> jusqu'à <strong>{{ event.datefinInscri|date("d-m-Y H") }}h</strong>
                            {% endif %}
                             </td>
                        </tr>
                    {% endif %}
                    {% if event.prix %}
                        <tr>
                            <th>Prix d'inscription</th>
                            <td>{{ event.prix }} TND</td>
                        </tr>
                    {% endif %}
                    {% if event.categories %}
                        <tr>
                            <th>Categories :</th>
                            <td>
                                {% for categorie in event.categories %}
                                    <a href="{{ path('categorie_show', {'id' : categorie.id}) }}">
                                        {{ categorie.nom }}
                                    </a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if event.fichiers %}
                        <tr>
                            <th>Fichiers</th>
                            <td>{{ event.fichiers|join(', ') }}</td>
                        </tr>
                    {% endif %}
                    {% if event.sponsoring %}
                        <tr>
                            <th>Sponsors :</th>
                            <td>
                                {% for sponsoring in event.sponsoring %}
                                    {% if sponsoring.sponsor.logo %}
                                        {% set url = asset('/images/sponsor/'~sponsoring.sponsor.logo) %}
                                    {% else %}
                                        {% set url = asset('/images/events/no-img.png') %}
                                    {% endif %}
                                    <a href="{{ path('sponsor_show', {'id' : sponsoring.sponsor.id}) }}">
                                        <img src="{{url}}" alt="Impossible de charger l'image" height="50" width="50">
                                        <strong>{{ sponsoring.sponsor.nom }}</strong>
                                    </a>
                                {% endfor %}
                                {% if app.user == event.organisateur.compte %}
                                    <a href="{{ path('sponsor_new_for_event', {'id' : event.id}) }}" class="btn btn-primary">Ajouter Sponsor</a>

                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            {% if app.user %}
                {% if event.checkReservation(app.user.abonne) %}
                    <div class="btn btn-success deja-reserve">
                        Déja réservé
                    </div>
                {% elseif event.organisateur.compte != app.user %}

                    {% if not event.ouvertCheck and "now"|date() < event.datefinInscri %}
                        <button onClick="afficherForm();" class="reservation-button btn btn-success">Réserver votre place</button>
                    {% endif %}

                    <div class="reservation-form">
                        {% if reservationForm %}
                            {{ form_start(reservationForm) }}
                            {{ form_widget(reservationForm) }}
                            <button type="submit" name="creer" class="btn btn-success">Réserver votre place</button>
                            {{ form_end(reservationForm) }}
                        {% endif %}
                    </div>
                {% endif %}
            {% else %}
                {% if not event.ouvertCheck and "now"|date() < event.datefinInscri %}
                    <a href="{{ path('event_reserver', { 'id': event.id }) }}" class="btn btn-success">Connecter vous pour réserver votre place</a>
                {% endif %}
            {% endif %}

            {% if event.organisateur.compte == app.user and not event.ouvertCheck %}
                {% for reservation in event.reservations %}
                    le <strong>{{ reservation.dateReservation|date("d/m/Y") }}</strong> :
                    <strong>{{ reservation.abonne.nom }}</strong> a réservé
                    <strong>{{ reservation.nbrPlaces }}</strong> places
                    à collecté le <strong>{{ reservation.dateCollecte|date("d/m/Y h") }}H</strong>
                    <a class="btn btn-danger" href="{{ path('event_supprimer_reservation', {'id' : reservation.id}) }}" >Supprimer cet reservation</a>
                    </br>
                {% else %}
                    <strong>Personne n'a encore réservé pour cet évennement</strong>
                {% endfor %}
            {% endif %}
        </div> <!-- End of event_show -->

        <div class="col-sm-6 col-xs-12">
            {% if chartVue %}
                <h3 class="h3">Avencement du rythme de d'intéressement à l'évènement</h2>
                <!-- Load jQuery from Google's CDN if needed -->
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

                <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
                <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
                <script type="text/javascript">
                    {{ chart(chartVue) }}
                    {% if chartReservation %}
                        {{ chart(chartReservation) }}
                    {% endif %}
                </script>

                <div id="linechartVue" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                {% if chartReservation %}
                    <div id="linechartReservation" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if event.gratuitCheck %}
        <script>
            $("#appbundle_reservation_dateCollecte").hide();
            $("#appbundle_reservation_dateCollecte").prev().hide();
        </script>
    {% endif %}

    <script>
        $(".reservation-form").hide();
        function afficherForm() {
            $(".reservation-button").hide();
            $(".reservation-form").show();
        }
    </script>

{% endblock %}
