{% extends 'base.html.twig' %}

{% block title %}
    {{event.nom}}
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-sm-6 col-sm-offset-3 col-xs-12 event_show">
        </br>
            {% if event.photo %}
                <a href="{{ asset('/images/events/'~event.nom~'/'~event.photo) }}">
                    <img src="{{ asset('/images/events/'~event.nom~'/'~event.photo) }}"
                     alt="image non disponible" class="event_show_photo">
                </a>
            {% else %}
                <img src="{{ asset('/images/events/no-img.png') }}" alt="image non disponible" class="event_show_photo">
            {% endif %}
            <h1 class="h1">{{ event.nom }} : </h1>

            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ event.nom }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ event.description }}</td>
                    </tr>
                    <tr>
                        <th>Lieu</th>
                        <td>{{ event.lieu }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>Du <strong>{{ event.date|date("d-m-Y H") }}h</strong> jusqu'à <strong>{{ event.dateFin|date("d-m-Y H") }}</strong></td>
                    </tr>
                    <tr>
                        <th>Date de Publication</th>
                        <td>{{ event.datePublication|date("d-m-Y H:m") }}</td>
                    </tr>
                    {% if not event.ouvertCheck %}
                        <tr>
                            <th>Date d'inscription</th>
                            <td>
                            {% if "now"|date() > event.datefinInscri|date() %}
                                <strong>L'inscription est fermé pour cet évennement </strong>
                            {% else %}
                                Du <strong>{{ event.dateDebutInscri|date("d-m-Y H") }}h</strong> jusqu'à <strong>{{ event.datefinInscri|date("d-m-Y H") }}h</strong>
                            {% endif %}
                             </td>
                        </tr>
                    {% endif %}
                    {% if event.prix %}
                        <tr>
                            <th>Prix d'inscription</th>
                            <td>{{ event.prix }}</td>
                        </tr>
                    {% endif %}
                    {% if event.categories %}
                        <tr>
                            <th>Categories :</th>
                            <td>
                                {% for item in event.categories %}
                                    <input type="checkbox" name="{{ item.nom }}" value="{{ item.nom }}" disabled="true" checked="true">{{ item.nom }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if event.fichiers %}
                        <tr>
                            <th>Fichiers</th>
                            <td>{{ event.fichiers|join(', ') }}</td>
                        </tr>
                    {% endif %}
                    {% if event.sponsoring %}
                        <tr>
                            <th>Sponsors :</th>
                            <td>
                                {% for sponsoring in event.sponsoring %}
                                    {% if sponsoring.sponsor.logo %}
                                        {% set url = asset('/images/sponsor/'~sponsoring.sponsor.logo) %}
                                    {% else %}
                                        {% set url = asset('/images/events/no-img.png') %}
                                    {% endif %}
                                    <img src="{{url}}" alt="Impossible de charger l'image" height="50" width="50">
                                    <strong>{{ sponsoring.sponsor.nom }}</strong>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            {% if not event.ouvertCheck and "now"|date() < event.datefinInscri|date() %}
                <a href="#" class="btn btn-success">Réserver votre place</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
