{% extends 'base.html.twig' %}

{% block title %}
    {{event.nom}}
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-sm-6 col-sm-offset-3 col-xs-12">

            <h1 class="h1">{{ event.nom }} : </h1>

            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ event.nom }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ event.description }}</td>
                    </tr>
                    <tr>
                        <th>Lieu</th>
                        <td>{{ event.lieu }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ event.date|date("d-m-Y") }}</td>
                    </tr>
                    <tr>
                        <th>Date de Publication</th>
                        <td>{{ event.datePublication|date("d-m-Y H:m") }}</td>
                    </tr>
                    {% if not event.ouvertCheck %}
                        <tr>
                            <th>Date de debut d'inscription</th>
                            <td>{{ event.dateDebutInscri|date("d-m-Y H:m") }}</td>
                        </tr>
                        <tr>
                            <th>Date de fin d'inscription</th>
                            <td>{{ event.datefinInscri|date("d-m-Y H:m") }}</td>
                        </tr>
                    {% endif %}
                    {% if event.prix %}
                        <tr>
                            <th>Prix d'inscription</th>
                            <td>{{ event.prix }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Photo</th>
                        <td><img src="{{ asset('/images/events/'~event.nom~'/'~event.photo) }}"
                                 alt="Pas d'image" width="300" height="300"></td>
                    </tr>
                    <tr>
                        <th>Fichiers</th>
                        <td>{% if event.fichiers %}{{ event.fichiers|join(', ') }}{% endif %}</td>
                    </tr>
                    {% if not event.ouvertCheck %}
                        <tr>
                            <td><a href="#" class="btn btn-success">Réserver votre place</a></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
