{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}
        <div class="container-fluid">
            <div class="row inscription">

                <div class="col-sm-5 col-sm-offset-1 col-xs-12">
                    <b>Déjà inscrit ?</b> <a href="{{ path('fos_user_security_login') }}" class="btn btn-success" name="inscription">
                        Conntectez vous <span class="glyphicon glyphicon-log-in"></span>
                    </a>
                    <h1 class="h1">Inscription : </h1>

                    {{ form_row(form.compte) }}
                </div>
                <div class="col-sm-5 col-xs-12">
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary"><b>S'inscrire</b> <i class="fa fa-2x fa-user-plus" aria-hidden="true"></i></button>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>

    </div>
{% endblock %}
