{% extends 'base.html.twig' %}

{% block body %}
    <h1>Abonne</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ abonne.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ abonne.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ abonne.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ abonne.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ abonne.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('abonne_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('abonne_edit', { 'id': abonne.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
