{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sponsorings list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sponsoring in sponsorings %}
            <tr>
                <td><a href="{{ path('sponsoring_show', { 'id': sponsoring.id }) }}">{{ sponsoring.id }}</a></td>
                <td>{{ sponsoring.montant }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sponsoring_show', { 'id': sponsoring.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sponsoring_edit', { 'id': sponsoring.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sponsoring_new') }}">Create a new sponsoring</a>
        </li>
    </ul>
{% endblock %}
